{% load i18n %}

{% block subject %}
{% blocktrans %}Set Password on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<p>Hi {{user.first_name}} {{user.last_name}},</p>
<p>{% blocktrans %}You're receiving this email because you have been registered in {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please set your password:" %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a></p>

<p>{% trans "Thanks!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endblock html_body %}
