{% load i18n %}

{% block subject %}
{% blocktrans %}Set Password Completed Notification {% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<p>Hi Admin,</p>

<p>{{ user.first_name }} {{user.last_name}} has just set his/her password.</p>

{% endblock html_body %}
