{% load static %}

<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <p>First Name: {{ object.first_name | capfirst }}</p>
        <p>Last Name: {{ object.last_name | capfirst }}</p>
        <p>Category: {{ object.get_category_display }}</p>
    </body>
</html>
